# Version control
.git
.gitignore

# Dependencies
node_modules
npm-debug.log

# Environment files
.env
.env.*

# Development files
*.md
.vscode
.idea
*.test.js
*.spec.js
coverage

# Build output
dist

# Docker
Dockerfile
.dockerignore

# Misc
.DS_Store
*.log